@using HotMagazine.Infrastructure.Identity
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@model HotMagazine.WebUI.Models.HomeViewModel


<!doctype html>
<html lang="en" class="no-js">
<head>
	<title>HotMagazine</title>

	<meta charset="utf-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="stylesheet" href="/css/tailwind.css">
	<link rel="stylesheet" href="/sport/css/style.css">
	
	<link rel="stylesheet" type="text/css" href="/sport/css/bootstrap.min.css" media="screen">	
	<link rel="stylesheet" type="text/css" href="/sport/css/jquery.bxslider.css" media="screen">
	<link rel="stylesheet" type="text/css" href="/sport/css/font-awesome.css" media="screen">
	<link rel="stylesheet" type="text/css" href="/sport/css/magnific-popup.css" media="screen">	
	<link rel="stylesheet" type="text/css" href="/sport/css/owl.carousel.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/sport/css/owl.theme.css" media="screen">
	<link rel="stylesheet" type="text/css" href="/sport/css/ticker-style.css">
	<link rel="stylesheet" type="text/css" href="/sport/css/style.css" media="screen">

</head>
<body>
		<header class="clearfix">
			<nav class="navbar navbar-default navbar-static-top" role="navigation">
				<div class="top-line">
					<div class="container">
						<div class="row">
							<div class="col-md-9">
								<ul class="top-line-list">
									<li>
										<span class="city-weather">Kazan</span>
									</li>
									<li><span class="time-now" id="dayOfWeek"></span></li>
									@if (SignInManager.IsSignedIn(User))
									{
										<li class="user-dropdown">
											<div class="user-avatar-wrapper">
												<a href="@(User.IsInRole("Admin") ? "/Admin/AdminPanel" : "/Account/Profile")">
													<img src="/sport/images/user.png" alt="User Avatar" class="user-avatar" />
												</a>
											</div>
										</li>
									}
									else
									{
									<li><a href="/Account/Login">Log In</a></li>
									}
									<li><a href="/Home/CreateNews">Create News</a></li>
								</ul>
							</div>	
							<div class="col-md-3">
								<ul class="social-icons">
									<li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a class="rss" href="#"><i class="fa fa-rss"></i></a></li>
									<li><a class="google" href="#"><i class="fa fa-google-plus"></i></a></li>
									<li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
									<li><a class="pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
								</ul>
							</div>	
						</div>
					</div>
				</div>
				<div class="nav-list-container">
					<div class="container">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="/"><img src="/sport/images/logo.png" alt=""></a>
						</div>
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-left">
								<li><a href="/">All</a></li>
								<li><a href="/home/categorynews/football">Football</a></li>
								<li><a href="/home/categorynews/nba">NBA</a></li>
								<li><a href="/home/categorynews/tennis">Tennis</a></li>
							</ul>

						</div>
					</div>
				</div>
			</nav>
		</header>
		<section class="heading-news2">

			<div class="container">
				<div class="iso-call heading-news-box">
					<div class="image-slider snd-size">
						<span class="top-stories">TOP STORIES</span>

						@if (Model.TopStories != null && Model.TopStories.Any())
						{
						var topNews = Model.TopStories.First();

						<div class="news-post image-post">
							<img src="@topNews.ImagePath" alt="">
							<div class="hover-box">
								<div class="inner-hover">
									<a class="category-post" href="#">@topNews.Category</a>
									<h2><a href="@Url.Action("NewsDetails", "Home", new { id = topNews.Id })">@topNews.Title</a></h2>
									<ul class="post-tags">
										<li><i class="fa fa-clock-o"></i>@topNews.PublishedAt.ToString("dd MMM yyyy")</li>
										<li><i class="fa fa-user"></i>by <a href="#">@topNews.Author</a></li>
										
									</ul>
								</div>
							</div>
						</div>
						}
					</div>

					@for (int i = 1; i < Model.TopStories.Count; i++)
					{
					var news = Model.TopStories[i];

					<div class="news-post image-post default-size">
						<img src="@news.ImagePath" alt="">
						<div class="hover-box">
							<div class="inner-hover">
								<a class="category-post" href="#">@news.Category</a>
								<h2><a href="@Url.Action("NewsDetails", "Home", new { id = news.Id })">@news.Title</a></h2>
								<ul class="post-tags">
									<li><i class="fa fa-clock-o"></i><span>@news.PublishedAt.ToString("dd MMM yyyy")</span></li>
									
								</ul>
							</div>
						</div>
					</div>
					}
				</div>

			</div>

		</section>

		<section class="block-wrapper">
			<div class="container">
				<div class="row">
					<div class="col-sm-8">
						<div class="block-content">
							<!-- Trending Now -->
							<div class="carousel-box owl-wrapper">
								<div class="title-section">
									<h1><span>Trending now</span></h1>
								</div>
								<div class="owl-carousel" data-num="3">

									@foreach (var news in Model.TrendingNow)
									{
									<div class="item news-post image-post3">
										<img src="@news.ImagePath" alt="">
										<div class="hover-box">
											<h2>
												<a href="@Url.Action("NewsDetails", "Home", new { id = news.Id })">
													@news.Title
												</a>
											</h2>
											<ul class="post-tags">
												<li><i class="fa fa-clock-o"></i>@news.PublishedAt.ToString("dd MMM yyyy")</li>
											</ul>
										</div>
									</div>
									}
								</div>
							</div>
							<div class="article-box">
								<div class="title-section">
									<h1><span>Latest Articles</span></h1>
								</div>

								@foreach (var article in Model.LatestArticles)
								{
								<div class="news-post article-post">
									<div class="row">
										<div class="col-sm-5">
											<div class="post-gallery">
												<img alt="@article.Title" src="@article.ImagePath" />
												<a class="category-post" href="@Url.Action("CategoryNews", "Home", new { category = article.Category })">@article.Category</a>
											</div>
										</div>
										<div class="col-sm-7">
											<div class="post-content">
												<h2><a href="@Url.Action("NewsDetails", "Home", new { id = article.Id })">@article.Title</a></h2>
												<ul class="post-tags">
													<li><i class="fa fa-clock-o"></i>@article.PublishedAt.ToString("dd MMM yyyy")</li>
													<li><i class="fa fa-user"></i>by @article.Author</li>
												</ul>
												<p>@(article.Content?.Length > 150 ? article.Content.Substring(0, 150) + "..." : article.Content)</p>
												<a href="@Url.Action("NewsDetails", "Home", new { id = article.Id })" class="read-more-button"><i class="fa fa-angle-right"></i><span>Read More</span></a>
											</div>
										</div>
									</div>
								</div>
								}
							</div>

							<!-- End article box -->

							
						</div>
						<!-- End block content -->

					</div>

					<div class="col-sm-4">

						<!-- sidebar -->
						<div class="sidebar">

							<div class="widget social-widget">
								<div class="title-section">
									<h1><span>Stay Connected</span></h1>
								</div>
								<ul class="social-share">
									<li>
										<a href="#" class="rss"><i class="fa fa-rss"></i></a>
										<span class="number">9,455</span>
										<span>Subscribers</span>
									</li>
									<li>
										<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
										<span class="number">56,743</span>
										<span>Fans</span>
									</li>
									<li>
										<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
										<span class="number">43,501</span>
										<span>Followers</span>
									</li>
									<li>
										<a href="#" class="google"><i class="fa fa-google-plus"></i></a>
										<span class="number">35,003</span>
										<span>Followers</span>
									</li>
								</ul>
							</div>
							

							<!-- Другие блоки -->

							<div class="widget tab-posts-widget">
								<ul class="nav nav-tabs" id="myTab">
									<li class="active">
										<a href="#popular" data-toggle="tab">Popular</a>
									</li>
								</ul>

								<div class="tab-content">
									<div class="tab-pane active" id="popular">
										<ul class="list-posts">
											@foreach (var news in Model.PopularNews)
											{
											<li>
												<img src="@news.ImagePath" alt="@news.Title" />
												<div class="post-content">
													<h2><a href="@Url.Action("NewsDetails", "Home", new { id = news.Id })">@news.Title</a></h2>
													<ul class="post-tags">
														<li><i class="fa fa-clock-o"></i>@news.PublishedAt.ToString("dd MMM yyyy")</li>
													</ul>
												</div>
											</li>
											}
										</ul>
									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End block-wrapper-section -->

		<!-- footer 
			================================================== -->
		<footer>
			<div class="container">
				<div class="footer-widgets-part">
					<div class="row">
						<div class="col-md-3">
							<div class="widget text-widget">
								<h1>About</h1>
								<p>Semester work Valiullin Ilnar 11-309</p>
								<a href="index.html"><img src="images/footer-logo.png" alt=""></a>
							</div>
						</div>
						<div class="col-md-3">
							<div class="widget social-widget">
								<h1>Stay Connected</h1>
								<ul class="social-icons">
									<li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#" class="google"><i class="fa fa-google-plus"></i></a></li>
									<li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#" class="youtube"><i class="fa fa-youtube"></i></a></li>
									<li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
									<li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
									<li><a href="#" class="vimeo"><i class="fa fa-vimeo-square"></i></a></li>
									<li><a href="#" class="dribble"><i class="fa fa-dribbble"></i></a></li>
									<li><a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a></li>
									<li><a href="#" class="flickr"><i class="fa fa-flickr"></i></a></li>
									<li><a href="#" class="rss"><i class="fa fa-rss"></i></a></li>
								</ul>
							</div>
						</div>
						
						
					</div>
				</div>
				<div class="footer-last-line">
					<div class="row">
						<div class="col-md-6">
							<p>&copy; COPYRIGHT 2025 hotmagazine.com</p>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- End footer -->
	<!-- End Container -->
	
	<script type="text/javascript" src="/sport/js/jquery.min.js"></script>
	<script type="text/javascript" src="/sport/js/jquery.migrate.js"></script>
	<script type="text/javascript" src="/sport/js/jquery.bxslider.min.js"></script>
	<script type="text/javascript" src="/sport/js/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="/sport/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/sport/js/jquery.ticker.js"></script>
	<script type="text/javascript" src="/sport/js/jquery.imagesloaded.min.js"></script>
  	<script type="text/javascript" src="/sport/js/jquery.isotope.min.js"></script>
	<script type="text/javascript" src="/sport/js/owl.carousel.min.js"></script>
	<script type="text/javascript" src="/sport/js/retina-1.1.0.min.js"></script>
	<script type="text/javascript" src="/sport/js/plugins-scroll.js"></script>
	<script type="text/javascript" src="/sport/js/script.js"></script>

</body>
</html>


<span id="dayOfWeek"></span>

<script>
	function updateDay() {
		const now = new Date();
		const options = { weekday: 'long', day: 'numeric', month: 'long', year: 'numeric' };
		const dayName = now.toLocaleDateString('en-US', options);

		document.getElementById('dayOfWeek').textContent = dayName;
	}

	updateDay(); // сразу при загрузке
</script>


