@model List<HotMagazine.Domain.Models.News>
<!doctype html>
<html lang="en" class="no-js">
<head>
	<title>HotMagazine</title>

	<meta charset="utf-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link href='../../css?family=Lato:300,400,700,900,400italic' rel='stylesheet' type='text/css'>
	<link href="../../font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	
	<link rel="stylesheet" type="text/css" href="/sport/css/bootstrap.min.css" media="screen">	
	<link rel="stylesheet" type="text/css" href="/sport/css/jquery.bxslider.css" media="screen">
	<link rel="stylesheet" type="text/css" href="/sport/css/font-awesome.css" media="screen">
	<link rel="stylesheet" type="text/css" href="/sport/css/magnific-popup.css" media="screen">	
	<link rel="stylesheet" type="text/css" href="/sport/css/owl.carousel.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/sport/css/owl.theme.css" media="screen">
	<link rel="stylesheet" type="text/css" href="/sport/css/ticker-style.css">
	<link rel="stylesheet" type="text/css" href="/sport/css/style.css" media="screen">

</head>
<body>

	<!-- Container -->
	<div id="container">

		<!-- Header
		    ================================================== -->
		<header class="clearfix">
			<!-- Bootstrap navbar -->
			<nav class="navbar navbar-default navbar-static-top" role="navigation">

				<div class="nav-list-container">
					<div class="container">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="/"><img src="/sport/images/logo.png" alt=""></a>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-left">
								<li><a href="/">All</a></li>
								<li><a href="/home/categorynews/football">Football</a></li>
								<li><a href="/home/categorynews/nba">NBA</a></li>
								<li><a href="/home/categorynews/tennis">Tennis</a></li>
							</ul>
						</div>
					</div>
				</div>
			</nav>
		</header>
		<section class="block-wrapper">
			<div class="container">
				<div class="row">
					<div class="col-sm-8">

						<!-- block content -->
						<div class="block-content">

							<!-- grid box -->

							<div class="grid-box">
								<div class="title-section">
									<h1><span>@ViewBag.CurrentCategory</span></h1>
								</div>


								<div class="image-slider">
									<ul class="bxslider">
										@foreach (var newsItem in Model.Take(2))  // например, первые 2 новости для слайдера
										{
										<li>
											<div class="news-post image-post">
												<img src="@newsItem.ImagePath" alt="@newsItem.Title" />
												<div class="hover-box">
													<div class="inner-hover">
														<h2><a href="@Url.Action("NewsDetails", "Home", new { id = newsItem.Id })">@newsItem.Title</a></h2>
														<ul class="post-tags">
															<li><i class="fa fa-clock-o"></i>@newsItem.PublishedAt.ToString("dd MMM yyyy")</li>
														</ul>
													</div>
												</div>
											</div>
										</li>
										}
									</ul>
								</div>

								<div class="row">
									@foreach (var newsItem in Model.Skip(2))  // остальные новости
									{
									<div class="col-md-6">
										<div class="news-post standard-post2">
											<div class="post-gallery">
												<img src="@newsItem.ImagePath" alt="@newsItem.Title" />
											</div>
											<div class="post-title">
												<h2><a href="@Url.Action("NewsDetails", "Home", new { id = newsItem.Id })">@newsItem.Title</a></h2>
												<ul class="post-tags">
													<li><i class="fa fa-clock-o"></i>@newsItem.PublishedAt.ToString("dd MMM yyyy")</li>
													<li><i class="fa fa-user"></i>by <a href="#">@newsItem.Author</a></li>
												</ul>
											</div>
											<div class="post-content">
												<p>@newsItem.Content.Substring(0, Math.Min(newsItem.Content.Length, 150))...</p>  <!-- Краткое содержание -->
											</div>
										</div>
									</div>
									}
								</div>
							</div>
						</div>
						<!-- End block content -->

					</div>

					<div class="col-sm-4">

						<!-- sidebar -->
						<div class="sidebar">

							<div class="widget social-widget">
								<div class="title-section">
									<h1><span>Stay Connected</span></h1>
								</div>
								<ul class="social-share">
									<li>
										<a href="#" class="rss"><i class="fa fa-rss"></i></a>
										<span class="number">9,455</span>
										<span>Subscribers</span>
									</li>
									<li>
										<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
										<span class="number">56,743</span>
										<span>Fans</span>
									</li>
									<li>
										<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
										<span class="number">43,501</span>
										<span>Followers</span>
									</li>
									<li>
										<a href="#" class="google"><i class="fa fa-google-plus"></i></a>
										<span class="number">35,003</span>
										<span>Followers</span>
									</li>
								</ul>
							</div>



							<div class="widget tab-posts-widget">
								<ul class="nav nav-tabs" id="myTab">
									<li class="active"><a href="#popular" data-toggle="tab">Popular</a></li>
								</ul>
								<div class="tab-content">
									<div class="tab-pane active" id="popular">
										<ul class="list-posts">
											@foreach (var news in (List<HotMagazine.Domain.Models.News>)ViewBag.PopularNews)
											{
											<li>
												<img src="@news.ImagePath" alt="@news.Title" />
												<div class="post-content">
													<h2><a href="@Url.Action("NewsDetails", "Home", new { id = news.Id })">@news.Title</a></h2>
													<ul class="post-tags">
														<li><i class="fa fa-clock-o"></i>@news.PublishedAt.ToString("dd MMM yyyy")</li>
													</ul>
												</div>
											</li>
											}
										</ul>
									</div>
								</div>
							</div>
						</div>
						<!-- End sidebar -->

					</div>

				</div>

			</div>
		</section>
		<!-- End block-wrapper-section -->

		<!-- footer 
			================================================== -->
		<footer>
			<div class="container">
				<div class="footer-widgets-part">
					<div class="row">
						<div class="col-md-3">
							<div class="widget text-widget">
								<h1>About</h1>
								<p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis. Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</p>
								<a href="index.html"><img src="images/footer-logo.png" alt=""></a>
							</div>
						</div>
						<div class="col-md-3">
							<div class="widget social-widget">
								<h1>Stay Connected</h1>
								<ul class="social-icons">
									<li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#" class="google"><i class="fa fa-google-plus"></i></a></li>
									<li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#" class="youtube"><i class="fa fa-youtube"></i></a></li>
									<li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
									<li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
									<li><a href="#" class="vimeo"><i class="fa fa-vimeo-square"></i></a></li>
									<li><a href="#" class="dribble"><i class="fa fa-dribbble"></i></a></li>
									<li><a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a></li>
									<li><a href="#" class="flickr"><i class="fa fa-flickr"></i></a></li>
									<li><a href="#" class="rss"><i class="fa fa-rss"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-3">
							<div class="widget posts-widget">
								<h1>Random Post</h1>
								<ul class="list-posts">
									<li>
										<img src="upload/news-posts/listw4.jpg" alt="">
										<div class="post-content">
											<a href="travel.html">travel</a>
											<h2><a href="single-post.html">Pellentesque odio nisi, euismod in ultricies in, diam. </a></h2>
											<ul class="post-tags">
												<li><i class="fa fa-clock-o"></i>27 may 2013</li>
											</ul>
										</div>
									</li>

									<li>
										<img src="upload/news-posts/listw1.jpg" alt="">
										<div class="post-content">
											<a href="business.html">business</a>
											<h2><a href="single-post.html">Sed arcu. Cras consequat.</a></h2>
											<ul class="post-tags">
												<li><i class="fa fa-clock-o"></i>27 may 2013</li>
											</ul>
										</div>
									</li>

									<li>
										<img src="upload/news-posts/listw3.jpg" alt="">
										<div class="post-content">
											<a href="tech.html">tech</a>
											<h2><a href="single-post.html">Phasellus ultrices nulla quis nibh. Quisque a lectus.</a></h2>
											<ul class="post-tags">
												<li><i class="fa fa-clock-o"></i>27 may 2013</li>
											</ul>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-md-3">
							<div class="widget flickr-widget">
								<h1>Flickr Photos</h1>
								<ul class="flickr-list">
									<li><a href="#"><img src="upload/flickr/1.jpg" alt=""></a></li>
									<li><a href="#"><img src="upload/flickr/2.jpg" alt=""></a></li>
									<li><a href="#"><img src="upload/flickr/3.jpg" alt=""></a></li>
									<li><a href="#"><img src="upload/flickr/4.jpg" alt=""></a></li>
									<li><a href="#"><img src="upload/flickr/5.jpg" alt=""></a></li>
									<li><a href="#"><img src="upload/flickr/6.jpg" alt=""></a></li>
								</ul>
								<a href="#">View more photos...</a>
							</div>
						</div>
					</div>
				</div>
				<div class="footer-last-line">
					<div class="row">
						<div class="col-md-6">
							<p>&copy; COPYRIGHT 2015 hotmagazine.com</p>
						</div>
						<div class="col-md-6">
							<nav class="footer-nav">
								<ul>
									<li><a href="index.html">Home</a></li>
									<li><a href="index.html">Purchase Theme</a></li>
									<li><a href="about.html">About</a></li>
									<li><a href="contact.html">Contact</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- End footer -->

	</div>
	<!-- End Container -->
	
	<script type="text/javascript" src="/sport/js/jquery.min.js"></script>
	<script type="text/javascript" src="/sport/js/jquery.migrate.js"></script>
	<script type="text/javascript" src="/sport/js/jquery.bxslider.min.js"></script>
	<script type="text/javascript" src="/sport/js/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="/sport/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/sport/js/jquery.ticker.js"></script>
	<script type="text/javascript" src="/sport/js/jquery.imagesloaded.min.js"></script>
  	<script type="text/javascript" src="/sport/js/jquery.isotope.min.js"></script>
	<script type="text/javascript" src="/sport/js/owl.carousel.min.js"></script>
	<script type="text/javascript" src="/sport/js/retina-1.1.0.min.js"></script>
	<script type="text/javascript" src="/sport/js/plugins-scroll.js"></script>
	<script type="text/javascript" src="/sport/js/script.js"></script>

</body>
</html>