@using HotMagazine.Infrastructure.Identity
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject UserManager<AppUser> UserManager

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Admiro admin is super flexible, powerful, clean &amp; modern responsive bootstrap 5 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Admiro admin template, best javascript admin, dashboard template, bootstrap admin template, responsive admin template, web app">
    <meta name="author" content="pixelstrap">
    <title>Admiro - Premium Admin Template</title>
    <!-- Favicon icon-->
    <link rel="icon" href="/admiro/assets/images/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="/admiro/assets/images/favicon.png" type="image/x-icon">
    <!-- Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="/admiro/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&amp;display=swap" rel="stylesheet">
    <!-- Flag icon css -->
    <link rel="stylesheet" href="/admiro/assets/css/vendors/flag-icon.css">
    <!-- iconly-icon-->
    <link rel="stylesheet" href="/admiro/assets/css/iconly-icon.css">
    <link rel="stylesheet" href="/admiro/assets/css/bulk-style.css">
    <!-- iconly-icon-->
    <link rel="stylesheet" href="/admiro/assets/css/themify.css">
    <!--fontawesome-->
    <link rel="stylesheet" href="/admiro/assets/css/fontawesome-min.css">
    <!-- Whether Icon css-->
    <link rel="stylesheet" type="text/css" href="/admiro/assets/css/vendors/weather-icons/weather-icons.min.css">
    <link rel="stylesheet" type="text/css" href="/admiro/assets/css/vendors/scrollbar.css">
    <link rel="stylesheet" type="text/css" href="/admiro/assets/css/vendors/slick.css">
    <link rel="stylesheet" type="text/css" href="/admiro/assets/css/vendors/slick-theme.css">
    <!-- App css -->
    <link id="color" rel="stylesheet" href="/admiro/assets/css/color-1.css" media="screen">
    <link rel="stylesheet" href="/admiro/assets/css/style.css">
  </head>
  <body>
    <!-- tap on top starts-->
    <div class="tap-top"><i class="iconly-Arrow-Up icli"></i></div>
    <!-- tap on tap ends-->
    <!-- loader-->
    <div class="loader-wrapper">
      <div class="loader"><span></span><span></span><span></span><span></span><span></span></div>
    </div>
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
      <header class="page-header row">
        <div class="logo-wrapper d-flex align-items-center col-auto"><a href="index.html"><img class="dark-logo img-fluid" src="../assets/images/logo/logo-dark.png" alt="logo"></a><a class="close-btn toggle-sidebar" href="javascript:void(0)">
            <svg class="svg-color">
              <use href="/admiro/assets/svg/iconly-sprite.svg#Category"></use>
            </svg></a></div>
        <div class="page-main-header col">
          <div class="nav-right">
            <ul class="header-right">
              <li class="custom-dropdown"><a href="javascript:void(0)">
                  <svg>
                    <use href="/admiro/assets/svg/iconly-sprite.svg#notification"></use>
                  </svg></a><span class="badge rounded-pill badge-primary"></span>
              </li>
              <li class="profile-nav custom-dropdown">
                <div class="user-wrap">
                  <div class="user-img"><img src="/admiro/assets/images/profile.png" alt="user"></div>
                  <div class="user-content">
                    <h6>Admin</h6>
                  </div>
                </div>
                <div class="custom-menu overflow-hidden">
                  <ul class="profile-body">
                    <form asp-controller="Account" asp-action="Logout" method="post" class="d-flex align-items-center">
                      @Html.AntiForgeryToken()
                      <button type="submit" class="btn btn-link text-decoration-none p-0 d-flex align-items-center">
                        <svg class="svg-color">
                          <use href="/admiro/assets/svg/iconly-sprite.svg#Login"></use>
                        </svg>
                        <span class="ms-2">Log Out</span>
                      </button>
                    </form>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </header>
      <div class="page-body-wrapper"> 
        <!-- Page sidebar start-->
        <!-- Page sidebar end-->
        <div class="page-body">
          <div class="container-fluid">
            <div class="page-title">
              <div class="row">
                <div class="col-sm-6 col-12">
                  <h2>All News</h2>
                </div>
              </div>
            </div>
          </div>
          <!-- Container-fluid starts-->
          <div class="container-fluid table-space basic_table">
            <div class="row">
              <div class="col-sm-12">
                <div class="card overflow-hidden">
                  <div class="table-responsive">
                    @if (Model?.NewsList != null && Model?.Users != null)
                    {
                      <table class="table">
                        <thead>
                        <tr>
                          <th>ID</th>
                          <th>Title</th>
                          <th>Data</th>
                          <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model.NewsList)
                        {
                          <tr>
                            <td>@item.Id</td>
                            <td>@item.Title</td>
                            <td>@item.PublishedAt.ToString("dd.MM.yyyy")</td>
                            <td>
                              <form asp-action="DeleteNews" method="post" onsubmit="return confirm('Delete news?');" >
                                <input type="hidden" name="id" value="@item.Id" />
                                <button type="submit" class="btn btn-danger btn-sm">DELETE</button>
                              </form>
                            </td>
                          </tr>
                        }
                        </tbody>
                      </table>
                      <h2>Users</h2>
                      @if (TempData["ErrorMessage"] != null)
                      {
                        <div class="alert alert-danger">
                          @TempData["ErrorMessage"]
                        </div>
                      }

                      <table class="table">
                        <thead>
                        <tr>
                          <th>Email</th>
                          <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var user in Model.Users)
                        {
                          var roles = await UserManager.GetRolesAsync(user);
                          bool isAdmin = roles.Contains("Admin");

                          <tr>
                            <td>@user.Email</td>
                            <td>
                              @if (!isAdmin)
                              {
                                <form asp-action="DeleteUser" asp-controller="Admin" method="post" onsubmit="return confirm('Delete user?');">
                                  <input type="hidden" name="userId" value="@user.Id" />
                                  <button type="submit" class="btn btn-danger btn-sm">DELETE</button>
                                </form>
                              }
                              else
                              {
                                <span class="text-muted">Admin - cannot delete</span>
                              }
                            </td>
                          </tr>
                        }
                        </tbody>
                      </table>

                    }
                    else
                    {
                    <p>Данные для отображения отсутствуют.</p>
                    }
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>
      </div>
    </div>
    <!-- jquery-->
    <script src="/admiro/assets/js/vendors/jquery/jquery.min.js"></script>
    <!-- bootstrap js-->
    <script src="/admiro/assets/js/vendors/bootstrap/dist/js/bootstrap.bundle.min.js" defer=""></script>
    <script src="/admiro/assets/js/vendors/bootstrap/dist/js/popper.min.js" defer=""></script>
    <!--fontawesome-->
    <script src="/admiro/assets/js/vendors/font-awesome/fontawesome-min.js"></script>
    <!-- feather-->
    <script src="/admiro/assets/js/vendors/feather-icon/feather.min.js"></script>
    <script src="/admiro/assets/js/vendors/feather-icon/custom-script.js"></script>
    <!-- sidebar -->
    <script src="/admiro/assets/js/sidebar.js"></script>
    <!-- scrollbar-->
    <script src="/admiro/assets/js/scrollbar/simplebar.js"></script>
    <script src="/admiro/assets/js/scrollbar/custom.js"></script>
    <!-- slick-->
    <script src="/admiro/assets/js/slick/slick.min.js"></script>
    <script src="/admiro/assets/js/slick/slick.js"></script>
    <!-- theme_customizer-->
    <script src="/admiro/assets/js/theme-customizer/customizer.js"></script>
    <!-- custom script -->
    <script src="/admiro/assets/js/script.js"></script>
  </body>
</html>